@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[disabled] {
  background-color: inherit;
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.link {
  text-decoration: underline;
  color: var(--link);
}

.title {
  padding-top: 60px;
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 50vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
@media (max-width: 980px) {
  .title {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 1.825rem;
    line-height: 140%;
  }
}
@media (max-width: 425px) {
  .title {
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 140%;
  }
}

.header {
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.header__line {
  position: relative;
  background-color: var(--header-line-color);
  min-height: var(--header-line-height);
}
.header__line::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 2px;
  color: white;
  background-color: white;
  z-index: -1000;
}
@media (max-width: 980px) {
  .header__line {
    background-color: var(--header-line-color);
    height: 50px;
  }
  .header__line::before {
    content: none;
  }
}
.header__content {
  font-size: 1rem;
  line-height: 140%;
  max-width: 1170px;
  margin: 0 auto;
  min-height: var(--header-line-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .header__content {
    display: none;
  }
}
.header__items {
  display: flex;
}
.header__item {
  display: flex;
}
.header__item:hover {
  background-color: rgba(50, 85, 151, 0.155);
}
.header__link {
  padding: calc(var(--header-line-height) / 2) 15px;
}
.info {
  position: relative;
}
.info__item:not(:first-child) {
  border-top: 1px solid white;
}
.info__inner {
  transition: 0.3s all ease 0s;
  position: absolute;
  top: -200px;
  left: 0;
  max-width: 300px;
  background-color: var(--header-line-color);
  z-index: -100;
}
.info__inner a {
  padding: 15px 15px;
}

.auth {
  position: relative;
}
.auth__item:not(:first-child) {
  border-top: 1px solid white;
}
.auth__inner {
  transition: 0.3s all ease 0s;
  position: absolute;
  top: -200px;
  left: 0;
  width: 210px;
  background-color: var(--header-line-color);
  z-index: -100;
}
.auth__inner a {
  padding: 15px 15px;
}
@media (max-width: 1400px) {
  .auth__inner {
    left: -102px;
  }
}

.switcher__text {
  display: inline-block;
}

.switcher__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switcher__label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 26px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

.switcher__label:after {
  content: "";
  position: absolute;
  top: 1.25px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 22.5px;
  transition: 0.3s;
}

.switcher__input:checked + label {
  background: var(--main-color);
}

.switcher__input:checked + .switcher__label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switcher__label:active:after {
  width: 35px;
}

.upArrow {
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  color: black;
  position: fixed;
  top: 88vh;
  right: 8vw;
  cursor: pointer;
}
.upArrow span::before {
  content: "";
  background-image: url(../img/header/upArrow2.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 45px;
  height: 45px;
  width: 45px;
  top: 0px;
  left: 0px;
}

.popup {
  color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  /* reset input */
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-width: 500px;
  padding: 30px;
  height: 300px;
}
.popup__title {
  font-size: 1.25rem;
  line-height: 140%;
  margin-bottom: 20px;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 10px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
}
.popup .popup__input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(78, 78, 78);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.popup .popup__input::-moz-placeholder {
  color: transparent;
}
.popup .popup__input::placeholder {
  color: transparent;
}
.popup .popup__input:-moz-placeholder-shown ~ .popup__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.popup .popup__input:placeholder-shown ~ .popup__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.popup .popup__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}
.popup .popup__input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, var(--main-color), var(--main-color));
     border-image: linear-gradient(to right, var(--main-color), var(--main-color));
  border-image-slice: 1;
}
.popup .popup__input:focus ~ .popup__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--main-color);
  font-weight: 700;
}
.popup .popup__input:required, .popup .popup__input:invalid {
  box-shadow: none;
}
.popup__btn {
  margin-top: 40px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.popup__btn:hover, .popup__btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.popup__btn:hover {
  transform: translateY(-1px);
}
.popup__btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.burger {
  position: relative;
}
.burger__content {
  transition: 0.3s all ease 0s;
  position: absolute;
  top: 0px;
  left: -120vw;
  background-color: var(--header-line-color);
  width: 120%;
  z-index: -1;
  padding: 15px;
}
.burger__item a {
  display: block;
  padding: 14px;
}
.burger__trigger {
  display: none;
  z-index: 50000;
  position: relative;
  top: -36px;
  left: 45px;
  height: 20px;
  width: 30px;
  cursor: pointer;
}
@media (max-width: 980px) {
  .burger__trigger {
    display: block;
  }
}
@media (max-width: 612px) {
  .burger {
    right: 20px;
  }
}

.burger-label {
  top: -3px;
}

.down {
  left: 0;
}

.burger__icon span,
.burger__icon::before,
.burger__icon::after {
  left: 0;
  position: absolute;
  height: 15%;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #ffffff;
  border-radius: 5px;
}

.burger__icon span:nth-child(1) {
  top: 0%;
  transform: scale(1) translate(0px, -50%);
}

.burger__icon span:nth-child(2) {
  bottom: 50%;
  transform: scale(1) translate(0px, 50%);
}

.burger__icon span:nth-child(3) {
  bottom: 50%;
  transform: scale(1) translate(0px, 50%);
}

.burger__icon span:nth-child(4) {
  bottom: 0%;
  transform: scale(1) translate(0px, 50%);
}

.burger__icon.active span:nth-child(1) {
  top: 50%;
  transform: scale(0) translate(0px, -50%);
}

.burger__icon.active span:nth-child(2) {
  bottom: 50%;
  transform: rotate(45deg) translate(0%, 50%);
}

.burger__icon.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger__icon.active span:nth-child(4) {
  bottom: 50%;
  transform: scale(0) translate(0px, 50%);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.main__logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__logo img {
  width: 300px;
}
.main__hello {
  margin-left: 20px;
  font-size: 2rem;
  line-height: 140%;
}

.news {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .news {
    width: 80vw;
  }
}
.news__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.news__img {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .news__img {
    flex-direction: column;
  }
}
.news__main-img {
  flex: 0 1 50%;
  width: 100%;
  padding: 0px 0px 30% 0px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.news__main-img img {
  max-height: 500px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .news__main-img {
    padding: 0px 0px 60% 0px;
  }
}
.news__second-img {
  flex: 0 1 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}
.news__second-img img {
  height: 100%;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 767px) {
  .news__second-img img {
    max-width: inherit;
    max-height: 550px;
  }
}
@media (max-width: 1000px) {
  .news__second-img {
    grid-template-rows: 1fr;
  }
}
@media (max-width: 767px) {
  .news__second-img {
    flex: 0 1 100%;
    grid-template-columns: 1fr;
  }
}
.news__content {
  margin-top: 20px;
  font-size: 1.125rem;
  line-height: 140%;
}
@media (max-width: 768px) {
  .news__content {
    font-size: 1rem;
    line-height: 140%;
  }
}

.competitions {
  margin-top: 80px;
}
.competitions__future {
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  font-size: 1.125rem;
  line-height: 140%;
}
.competitions__past {
  font-weight: 700;
  margin: 50px 0px 10px 0px;
  font-size: 1.125rem;
  line-height: 140%;
}
.competitions__items > *:not(:last-child) {
  margin-bottom: 30px;
}
.competitions__item {
  min-height: 160px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .competitions__item {
    flex-direction: column;
  }
}
.competitions__date {
  flex: 0 0 auto;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  align-self: stretch;
  color: white;
}
@media (max-width: 767px) {
  .competitions__date {
    align-self: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
  }
}
.competitions__month {
  word-break: break-all;
  text-align: center;
  font-size: 1.625rem;
  line-height: 140%;
}
@media (max-width: 767px) {
  .competitions__month {
    margin-right: 10px;
  }
}
.competitions__day {
  font-size: 1.625rem;
  line-height: 140%;
}
.competitions__img {
  margin-left: 20px;
}
.competitions__img img {
  max-width: 100px;
}
@media (max-width: 767px) {
  .competitions__img {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
.competitions__inner {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 1000px;
  background-color: var(--background-dark);
}
.competitions__inner > *:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .competitions__inner {
    width: 100%;
    margin-left: 0;
  }
}
.competitions__time {
  position: relative;
  left: 20px;
  background-color: rgba(98, 98, 98, 0.1058823529);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
}
.competitions__time::before {
  content: "";
  background-image: url(../img/main/competitions/clock.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 18px;
  height: 18px;
  width: 18px;
  top: 4px;
  left: -27px;
}
.competitions__address {
  display: inline-block;
}
.competitions__address:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .arrows {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.link {
  text-decoration: underline;
  color: var(--link);
}

.title {
  padding-top: 60px;
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 50vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
@media (max-width: 980px) {
  .title {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 1.825rem;
    line-height: 140%;
  }
}
@media (max-width: 425px) {
  .title {
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 140%;
  }
}

.information__item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 140%;
  box-shadow: var(--shadow);
  background-color: var(--background);
}
.information__item:not(:last-child) {
  margin-bottom: 50px;
}
.information__title {
  font-size: 1.25rem;
  line-height: 140%;
  margin-bottom: 15px;
  text-align: center;
}
.information__wrapper {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr;
  gap: 5px;
}
@media (max-width: 1023px) {
  .information__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 120px 1fr;
  }
}
@media (max-width: 767px) {
  .information__wrapper {
    display: flex;
    flex-direction: column;
  }
  .information__wrapper :nth-child(3) {
    order: 2;
  }
  .information__wrapper :nth-child(4) {
    order: 3;
  }
  .information__wrapper :nth-child(6) {
    order: 2;
  }
  .information__wrapper :nth-child(7) {
    order: 6;
  }
}
.information__logo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
}
@media (max-width: 1023px) {
  .information__logo {
    grid-row: inherit;
    grid-column: 1/4;
  }
}
.information__logo img {
  max-width: 200px;
}
.information__logo img:not(:last-child) {
  margin-bottom: 10px;
}
.information__header {
  background-color: rgba(177, 177, 177, 0.2901960784);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__header img {
  width: 130px;
  height: 45px;
  margin-bottom: 20px;
}
.information__from img {
  transform: scale(-1, 1);
}
.information__vehicle {
  width: 200px;
}
.information__content {
  flex: 0 1 20%;
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.link {
  text-decoration: underline;
  color: var(--link);
}

.title {
  padding-top: 60px;
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 50vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}
@media (max-width: 980px) {
  .title {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 1.825rem;
    line-height: 140%;
  }
}
@media (max-width: 425px) {
  .title {
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 140%;
  }
}

.achievements__items {
  display: flex;
  flex-direction: column;
}
.achievements__item {
  padding: 10px;
  font-size: 1.125rem;
  line-height: 140%;
}
.achievements__item:not(:last-child) {
  margin-bottom: 50px;
}
.achievements__logo {
  text-align: center;
}
.achievements__logo img {
  max-width: 400px;
}
.achievements__content {
  margin-top: 10px;
}
.achievements__images {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.achievements__img {
  flex: 0 1 49%;
}
@media (max-width: 1050px) {
  .achievements__img {
    flex: 0 1 100%;
  }
}
.achievements__img img {
  width: 100%;
  height: 100%;
}
.achievements__more {
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 20px;
  border: 1px solid black;
}

.coaches__content {
  display: flex;
  justify-content: center;
}
.coaches__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 80px;
}
.coaches__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 1 400px;
  cursor: pointer;
  margin: 10px;
  background-color: var(--background-dark);
  box-shadow: var(--shadow);
}
@media (max-width: 460px) {
  .coaches__item {
    margin: 0px;
  }
}
.coaches__inner {
  padding: 0px 0px 130% 0px;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 100%;
}
.coaches__inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.coaches__info {
  padding: 20px;
}
.coaches__name {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 140%;
}
.coaches__about {
  max-width: 400px;
  text-align: center;
}

.coach__content {
  display: flex;
  gap: 40px;
}
@media (max-width: 767px) {
  .coach__content {
    flex-direction: column;
  }
}
.coach__img {
  flex: 0 1 40%;
  padding: 0px 0px 60% 0px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
@media (max-width: 767px) {
  .coach__img {
    padding: 0px 0px 150% 0px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .coach__img {
    padding: 0px 0px 150% 0px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.coach__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.coach__info {
  flex: 0 1 40%;
}
.coach__about h2 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 260%;
  border-bottom: 3px solid var(--main-color);
}
.coach__about > *:not(:last-child) {
  margin-bottom: 20px;
}
.coach__about p span {
  font-weight: 700;
}
.coach__about p a {
  text-decoration: underline;
}
.coach__achievements {
  flex: 0 1 20%;
}
.coach__achievements h2 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 260%;
  border-bottom: 3px solid var(--main-color);
}
.coach__achievements > *:not(:last-child) {
  margin-bottom: 20px;
}
.coach__item {
  display: flex;
  align-items: center;
}
.coach__item img {
  width: 70px;
}
@media (max-width: 768px) {
  .coach__item img {
    width: 50px;
  }
}
.coach__item p {
  margin-left: 10px;
}

@media (max-width: 440px) {
  .calendar {
    font-size: 0.75rem;
    line-height: 100%;
  }
}
.calendar__wrapper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.calendar__table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}
.calendar__date {
  position: relative;
  text-align: left;
  border: 1px solid #e2e8f0;
  padding: 15px;
  font-size: 1.375rem;
  line-height: 100%;
  font-weight: 700;
}
.calendar__arrows {
  position: absolute;
  top: 10px;
  left: 200px;
  display: inline-block;
}
.calendar__arrow {
  width: 30px;
  height: 30px;
  font-size: 1.325rem;
  margin-left: 5px;
}
.calendar__content {
  margin-top: 20px;
  color: rgb(82, 90, 100);
}
@media (max-width: 1199px) {
  .calendar__long {
    display: none;
  }
}
@media (min-width: 1200px) {
  .calendar__short {
    display: none;
  }
}

th {
  padding: 1rem;
  width: 14.2%;
  border: 1px solid #e2e8f0;
}

td {
  height: 10rem;
  border: 1px solid #e2e8f0;
  color: rgb(160, 174, 192);
  vertical-align: top;
  text-align: center;
  transition: all 0.5s ease;
}
td:hover {
  background-color: rgba(29, 133, 181, 0.0705882353);
}

.tableData {
  padding-top: 8px;
}

.mainMonth {
  color: rgb(16, 17, 19);
}

.mainMonthDark {
  color: rgb(255, 255, 255);
}

.notMainMonth {
  color: rgb(160, 174, 192);
}

.currentDay {
  background-color: rgba(240, 128, 128, 0.35);
  border-radius: 100%;
  padding: 20px;
}

.articles__text {
  font-size: 1.125rem;
  line-height: 140%;
  word-spacing: 2px;
  -webkit-hyphens: auto;
          hyphens: auto;
  text-indent: 50px;
}
@media (max-width: 425px) {
  .articles__text {
    font-size: 1rem;
    line-height: 140%;
  }
}
.articles__strong {
  font-style: italic;
  color: lightcoral;
  margin-left: 60px;
  text-align: justify;
}
@media (max-width: 425px) {
  .articles__strong {
    font-size: 1rem;
    line-height: 140%;
    margin-left: 20px;
  }
}
.articles__autor {
  margin-top: 50px;
  text-align: right;
  font-size: 1.375rem;
  line-height: 120%;
}
@media (max-width: 425px) {
  .articles__autor {
    font-size: 1rem;
    line-height: 140%;
  }
}
.articles__autor span {
  text-decoration: underline;
}

.clinical__about {
  font-size: 1.5rem;
  line-height: 100%;
}
@media (max-width: 1023px) {
  .clinical__about {
    font-size: 1.125rem;
    line-height: 100%;
  }
}
.clinical__responsibility {
  margin-top: 50px;
}
.clinical__responsibility h2 {
  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 700;
}
.responsibility__inner {
  margin-top: 20px;
  display: flex;
}
.responsibility__sign {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 144, 144);
  margin-right: 20px;
}
.responsibility__sign span {
  font-size: 2rem;
  width: 80px;
  text-align: center;
}
@media (max-width: 767px) {
  .responsibility__sign {
    display: none;
  }
}
.responsibility__items {
  margin-left: 20px;
  background-color: rgba(177, 177, 177, 0.2901960784);
  padding: 15px 40px;
}
@media (max-width: 1023px) {
  .responsibility__items {
    margin-left: 0px;
    font-size: 1rem;
    line-height: 100%;
  }
}
.responsibility__item {
  list-style: decimal;
  line-height: 160%;
}
.responsibility__item::first-letter {
  text-transform: capitalize;
}

.people {
  margin-top: 50px;
}
.people__available-title {
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 20px;
}
.people__inner {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 60%;
}
@media (max-width: 375px) {
  .people__inner {
    flex: 0 1 100%;
  }
}
.people__available {
  display: flex;
  margin-bottom: 30px;
}
.people__img {
  flex: 0 1 40%;
  width: 100%;
  padding: 0px 0px 50% 0px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 375px) {
  .people__img {
    display: none;
    flex: 0 1 100%;
  }
}
.people__img img {
  width: 380px;
  max-width: 380px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.people__overdue-title {
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 20px;
}
.people__item {
  list-style: disc;
  line-height: 160%;
}
@media (max-width: 767px) {
  .people__item {
    font-size: 1rem;
    line-height: 100%;
  }
}
.people__overdue {
  display: flex;
}
.about__title {
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  font-family: "Pacifico", cursive;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 1.5rem;
    line-height: 140%;
  }
}
.about__description {
  text-align: justify;
  margin-top: 30px;
  text-indent: 3rem;
  font-size: 1rem;
  line-height: 140%;
}
@media (max-width: 767px) {
  .about__description {
    font-size: 0.875rem;
    line-height: 140%;
  }
}
.about__map {
  margin-top: 80px;
}

.attention {
  margin-top: 50px;
}
.attention__title {
  font-weight: 700;
}
.attention__inner {
  margin-top: 20px;
  display: flex;
}
.attention__sign {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 144, 144);
  margin-right: 20px;
}
.attention__sign span {
  font-size: 2rem;
  width: 80px;
  text-align: center;
}
@media (max-width: 767px) {
  .attention__sign {
    display: none;
  }
}
.attention__items {
  margin-left: 20px;
  background-color: rgba(177, 177, 177, 0.2901960784);
  padding: 20px 30px;
}
.attention__items > *:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .attention__items {
    margin-left: 0px;
    font-size: 1rem;
    line-height: 100%;
    padding: 15px 20px;
  }
}
.attention__item {
  list-style: none;
  line-height: 100%;
}

.map {
  margin: 0 auto;
  margin-top: 50px;
}
.map__title {
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
}
@media (max-width: 424px) {
  .map__title {
    font-size: 1.25rem;
    line-height: 140%;
  }
}
.map__content {
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 424px) {
  .map__content {
    display: none;
  }
}

.footer {
  border-top: 2px solid white;
  margin-top: 50px;
  background: var(--header-line-color);
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: white;
}
.footer__row {
  width: 100%;
  margin: 40px 0px;
  font-size: 0.8em;
}
.footer__item {
  text-decoration: none;
  transition: all ease 0.1;
}
.footer__item i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer__item:hover {
  color: #fff;
}
.footer__items {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer__items {
    flex-direction: column;
  }
  .footer__items > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__visit {
  display: inline-block;
  margin: 0px 30px;
}
.footer__rights {
  margin: 40px 0px 20px 0px;
  font-size: 0.8rem;
}

.end {
  font-size: 1.4rem;
  font-family: "Dancing Script", cursive;
}
.end span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

:root {
  --bg-color: white;
  --text-color: black;
  --header-line-color: #1D84B5;
  --header-line-height: 3rem;
  --main-color: #1D84B5;
  --background: rgba(255, 255, 255, 0.29);
  --background-dark: #b1b1b14a;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --link: #DC602E;
}

.animation {
  animation: ani 1.3s ease-in-out forwards;
}

@keyframes ani {
  40% {
    margin-top: 40vh;
    margin-bottom: 50vh;
  }
  100% {
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
}