// _________________________________Шрифты____________________________________
// @import url(../fonts/Gilroy/bold/style.css);
// @import url(../fonts/Gilroy/regular/style.css);
// @import url(../fonts//Nekst/black/style.css);
// @import url(../fonts//Nekst/regular/style.css);

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
// ___________________________________________________________________________


// _________________________________Переходы____________________________________


// * {
//    transition: 0.2s all ease 0s;
// }

// ____________________________Дефолтные настройки______________________________

html, body {
   position: relative;
   font-family: 'Roboto', sans-serif;
	font-size: 16px;
   line-height: 1;
   font-weight: 400;
	color: var(--text-color);
   z-index: 5;
}

// _____________________________SCSS переменные________________________________


@mixin style($fz, $lh) {
   font-size: $fz;
   line-height: $lh;
}



.wrapper {
   min-height: 100%;
   overflow: hidden;
   background-color: var(--bg-color);

   // bg picture
   &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      background-size:cover;
      width: 100%;
      height: 100%;
      background: url(../img/bg/bg.jpg) no-repeat;
      background-size: cover;
      z-index: -5;
      filter: opacity(15%) blur(4px) brightness(50%);
   }

}

.container {
   position: relative;
   //_________________Ширина контейнера_________________
   max-width: 1170px;

   //_____________________По центру_____________________
   margin: 0 auto;

   //_____________________Отступ безопасности_____________________
   padding: 0px 15px;
   box-sizing: content-box;
   z-index: 50;
}

.hide {
   display: none;
}

.link {
   text-decoration: underline;
   color: lightblue;
}

.title {
   @include style (2.5rem, 140%);
   letter-spacing: 1.6px;
   margin-top: 40vh;
   margin-bottom: 50vh;
   font-family: 'Russo One', sans-serif;
   text-align: center;

}