// @import "../base";

.articles {
		&__text {
         @include style (1.125rem, 140%);
         word-spacing: 2px;
         hyphens: auto;
         text-indent: 50px;
		}

		&__strong {
         font-style: italic;        
         color: lightcoral; 
         margin-left: 60px;
         text-align: justify;
		}

      &__autor {
         margin-top: 50px;
         text-align: right;
         @include style (1.375rem, 120%);
         span {
            text-decoration: underline;
         }
      }
}
