
.header {
   color: white;
   &__line {
      background-color: var(--header-line-color);
      min-height: var(--header-line-height);
      border-bottom: 2px solid white;
   }

   &__content {
      max-width: 1170px;
      margin: 0 auto;
      min-height: var(--header-line-height);

      @include style (1rem, 140%);

      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__items {
      display: flex;
   }

   &__item {

      display: flex;
      &:hover {
         background-color: rgba(50, 85, 151, 0.155);
      }
      a {
         padding: (calc(var(--header-line-height) / 2)) 15px;
      }
   }

   &__auth {
      // position: relative;
      // &::before {
      //    content: "";
      //    background-image: url(/src/img/user/user.png);
      //    background-repeat: no-repeat;
      //    position: absolute;
      //    background-size: 32px;  
      //    height: 32px;
      //    width: 32px;
      //    top: 19px;
      //    left: 0px;
      //    // z-index: 5;
      // }
      // a {
      //    padding: ($header_line_height / 2) 40px;
      // }
   }
}
