@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[disabled] {
  background-color: inherit;
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.link {
  text-decoration: underline;
  color: lightblue;
}

.title {
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 40vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

.header {
  color: white;
  position: relative;
  z-index: 1000;
}
.header__line {
  position: relative;
  background-color: var(--header-line-color);
  min-height: var(--header-line-height);
}
.header__line::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 2px;
  color: white;
  background-color: white;
  z-index: -1000;
}
.header__content {
  font-size: 1rem;
  line-height: 140%;
  max-width: 1170px;
  margin: 0 auto;
  min-height: var(--header-line-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items {
  display: flex;
}
.header__item {
  display: flex;
}
.header__item:hover {
  background-color: rgba(50, 85, 151, 0.155);
}
.header__link {
  padding: calc(var(--header-line-height) / 2) 15px;
}
.info {
  position: relative;
}
.info__item:not(:first-child) {
  border-top: 1px solid white;
}
.info__inner {
  transition: 0.3s all ease 0s;
  position: absolute;
  top: -200px;
  left: 0;
  max-width: 300px;
  background-color: var(--header-line-color);
  z-index: -100;
}
.info__inner a {
  padding: 15px 15px;
}

.auth {
  position: relative;
}
.auth__item:not(:first-child) {
  border-top: 1px solid white;
}
.auth__inner {
  transition: 0.3s all ease 0s;
  position: absolute;
  top: -200px;
  left: 0;
  width: 210px;
  background-color: var(--header-line-color);
  z-index: -100;
}
.auth__inner a {
  padding: 15px 15px;
}

.switcher p {
  display: inline-block;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 26px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1.25px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 22.5px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--main-color);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 35px;
}

.main__logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__logo img {
  width: 300px;
}
.main__hello {
  margin-left: 20px;
  font-size: 2rem;
  line-height: 140%;
}

.news {
  margin-top: 80px;
}
.news__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.news__img {
  display: flex;
  gap: 5px;
}
.news__main-img img {
  width: 600px;
  height: 400px;
}
.news__second-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}
.news__second-img img {
  height: 197.5px;
  width: 100%;
}
.news__content {
  margin-top: 20px;
  font-size: 1.125rem;
  line-height: 140%;
}

.competitions {
  margin-top: 80px;
}
.competitions__future {
  margin: 0px 0px 10px 0px;
  font-size: 1.125rem;
  line-height: 140%;
}
.competitions__past {
  margin: 50px 0px 10px 0px;
  font-size: 1.125rem;
  line-height: 140%;
}
.competitions__item {
  min-height: 160px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.competitions__date {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  align-self: stretch;
  color: white;
}
.competitions__month {
  font-size: 1.625rem;
  line-height: 140%;
}
.competitions__day {
  font-size: 1.625rem;
  line-height: 140%;
}
.competitions__img {
  margin-left: 20px;
}
.competitions__img img {
  max-width: 100px;
}
.competitions__inner {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 1000px;
  background-color: var(--background-dark);
}
.competitions__inner > *:not(:last-child) {
  margin-bottom: 10px;
}
.competitions__time {
  position: relative;
  left: 20px;
  background-color: rgba(98, 98, 98, 0.1058823529);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
}
.competitions__time::before {
  content: "";
  background-image: url(/src/img/main/competitions/clock.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 18px;
  height: 18px;
  width: 18px;
  top: 4px;
  left: -27px;
}
.competitions__address {
  display: inline-block;
}
.competitions__address:hover {
  cursor: pointer;
  text-decoration: underline;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.link {
  text-decoration: underline;
  color: lightblue;
}

.title {
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 40vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

.information__item {
  padding: 10px;
  font-size: 1.125rem;
  line-height: 140%;
  box-shadow: var(--shadow);
  background-color: var(--background);
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr;
  gap: 5px;
}
.information__item:not(:last-child) {
  margin-bottom: 50px;
}
.information__logo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/3;
}
.information__logo img {
  max-width: 200px;
}
.information__logo img:not(:last-child) {
  margin-bottom: 10px;
}
.information__header {
  background-color: rgba(177, 177, 177, 0.2901960784);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information__header img {
  width: 130px;
  height: 45px;
  margin-bottom: 20px;
}
.information__from img {
  transform: scale(-1, 1);
}
.information__vehicle {
  width: 200px;
}
.information__content {
  flex: 0 1 20%;
}

html, body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  z-index: 5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}
.wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: url(../img/bg/bg.jpg) no-repeat;
  background-size: cover;
  z-index: -5;
  filter: opacity(15%) blur(4px) brightness(50%);
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
  z-index: 50;
}

.hide {
  display: none;
}

.link {
  text-decoration: underline;
  color: lightblue;
}

.title {
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 1.6px;
  margin-top: 40vh;
  margin-bottom: 50vh;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

.achievements__items {
  display: flex;
  flex-direction: column;
}
.achievements__item {
  padding: 10px;
  font-size: 1.125rem;
  line-height: 140%;
}
.achievements__item:not(:last-child) {
  margin-bottom: 50px;
}
.achievements__logo {
  text-align: center;
}
.achievements__logo img {
  max-width: 400px;
}
.achievements__content {
  margin-top: 10px;
}
.achievements__images {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.achievements__img {
  flex: 0 1 49%;
}
.achievements__img img {
  width: 100%;
  height: 100%;
}
.achievements__more {
  margin: 0 auto;
  cursor: pointer;
  padding: 15px 20px;
  border: 1px solid black;
}

.coaches__content {
  display: flex;
  justify-content: center;
}
.coaches__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 80px;
}
.coaches__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 1 400px;
  cursor: pointer;
  background-color: var(--background-dark);
  box-shadow: var(--shadow);
}
.coaches__inner {
  width: 400px;
  padding: 0px 0px 130% 0px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.coaches__inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.coaches__info {
  padding: 20px;
}
.coaches__name {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 140%;
}
.coaches__about {
  max-width: 400px;
  text-align: center;
}

.calendar__wrapper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.calendar__table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}
.calendar__date {
  position: relative;
  text-align: left;
  border: 1px solid #e2e8f0;
  padding: 15px;
  font-size: 1.375rem;
  line-height: 100%;
  font-weight: 700;
}
.calendar__arrows {
  position: absolute;
  top: 10px;
  left: 200px;
  display: inline-block;
}
.calendar__arrow {
  width: 30px;
  height: 30px;
  font-size: 1.325rem;
  margin-left: 5px;
}
.calendar__content {
  margin-top: 20px;
  color: rgb(82, 90, 100);
}

th {
  padding: 1rem;
  border: 1px solid #e2e8f0;
}

td {
  width: 167px;
  height: 10rem;
  border: 1px solid #e2e8f0;
  color: rgb(160, 174, 192);
  vertical-align: top;
  text-align: center;
}
td:hover {
  background-color: rgba(47, 47, 47, 0.341);
  background-color: #171717;
}

.tableData {
  padding-top: 8px;
}

.mainMonth {
  color: rgb(16, 17, 19);
}

.mainMonthDark {
  color: rgb(255, 255, 255);
}

.notMainMonth {
  color: rgb(160, 174, 192);
}

.articles__text {
  font-size: 1.125rem;
  line-height: 140%;
  word-spacing: 2px;
  -webkit-hyphens: auto;
          hyphens: auto;
  text-indent: 50px;
}
.articles__strong {
  font-style: italic;
  color: lightcoral;
  margin-left: 60px;
  text-align: justify;
}
.articles__autor {
  margin-top: 50px;
  text-align: right;
  font-size: 1.375rem;
  line-height: 120%;
}
.articles__autor span {
  text-decoration: underline;
}

.clinical__about {
  font-size: 1.5rem;
  line-height: 100%;
}
.clinical__responsibility {
  margin-top: 50px;
}
.clinical__responsibility h2 {
  font-size: 1.125rem;
  line-height: 100%;
  color: red;
}
.responsibility__inner {
  margin-top: 20px;
  display: flex;
}
.responsibility__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 144, 144);
  margin-right: 20px;
}
.responsibility__sign span {
  font-size: 2rem;
  width: 80px;
  text-align: center;
}
.responsibility__items {
  margin-left: 20px;
  background-color: rgba(177, 177, 177, 0.2901960784);
  padding: 15px 40px;
}
.responsibility__item {
  list-style: decimal;
  line-height: 160%;
}
.responsibility__item::first-letter {
  text-transform: capitalize;
}

.people {
  margin-top: 50px;
}
.people__available-title {
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 20px;
}
.people__inner {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.people__available {
  display: flex;
  margin-bottom: 30px;
}
.people__img img {
  width: 380px;
}
.people__overdue-title {
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 20px;
}
.people__item {
  list-style: disc;
  line-height: 160%;
}
.people__overdue {
  display: flex;
}
.about__title {
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  font-family: "Pacifico", cursive;
}
.about__description {
  text-align: center;
  margin-top: 30px;
  text-indent: 3rem;
  font-size: 1.25rem;
  line-height: 140%;
}
.about__attention {
  font-size: 1.25rem;
  line-height: 140%;
  margin-top: 50px;
  display: flex;
}
.about__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 144, 144);
  margin-right: 20px;
}
.about__sign span {
  font-size: 2rem;
  width: 80px;
  text-align: center;
}
.about__map {
  margin-top: 80px;
}

.map__title {
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
}
.map__content {
  margin-top: 20px;
  text-align: center;
}

.footer {
  border-top: 2px solid white;
  margin-top: 50px;
  background: var(--header-line-color);
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: white;
}
.footer__row {
  width: 100%;
  margin: 40px 0px;
  font-size: 0.8em;
}
.footer__item {
  text-decoration: none;
  transition: all ease 0.1;
}
.footer__item i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer__item:hover {
  color: #fff;
}
.footer__items {
  width: 100%;
}
.footer__visit {
  display: inline-block;
  margin: 0px 30px;
}
.footer__rights {
  margin: 40px 0px 20px 0px;
  font-size: 0.8rem;
}

.end {
  font-size: 1.4rem;
  font-family: "Dancing Script", cursive;
}
.end span {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

:root {
  --bg-color: white;
  --text-color: black;
  --header-line-color: #1D84B5;
  --header-line-height: 3rem;
  --main-color: #1D84B5;
  --background: rgba(255, 255, 255, 0.29);
  --background-dark: #b1b1b14a;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.animation {
  animation: ani 1.3s ease-in-out forwards;
}

@keyframes ani {
  40% {
    margin-top: 40vh;
    margin-bottom: 50vh;
  }
  100% {
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
}