

:root {
   --bg-color: white;
   --text-color: black;
   --header-line-color: #1D84B5;
   --header-line-height: 3rem;
   --main-color: #1D84B5;
   --background: rgba(255, 255, 255, 0.29);
   --background-dark: #b1b1b14a;
   --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}